﻿@model DAL.AdminMainProgress
@using DAL;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var data = Model.AllCampaigns.ToList();
    var favoriteData = Model.AllCampaigns.Where(x => x.Favorite == true).FirstOrDefault();
}

<section>
    <div class="container margin-t40 font-size">
        @foreach (var item in data)
        {
            <div class="row margin-b30">
                <div class="col-md-2">
                    <figure>
                        @if (item.Image.ToString() != string.Empty)
                        {
                            <img src="@(System.Configuration.ConfigurationManager.AppSettings["FilesPath"] + item.Image)" class="img-responsive" />
                        }
                        else
                        {
                            <img src="/Assets/img/kampanyalar-img.jpg" class="img-responsive" />
                        }
                    </figure>
                </div>
                <div class="col-md-8">
                    <h3 class="nomargint"><strong>@item.Title</strong></h3>
                    <h4 class="margin-b20"><strong>@item.ShortContent</strong></h4>
                    @Html.Raw(item.Content)
                    <p><h4><strong>@item.Hashtags</strong></h4></p>
                </div>
                <div class="col-md-2">
                    <div class="discount3 img-circle" style="background-color:@Html.Raw(item.InfoTextColor + "!important")"><span>@item.InfoText</span></div>
                </div>
            </div>
        }
    </div>
</section>
@if (favoriteData != null)
{
    <section>
        <div class="container-fluid font-size" style="background:#f4f4f4;border-top:1px solid #e6e6e6">
            <div class="row">
                <div class="container">
                    <div class="col-md-5 col-md-offset-2 margin-t25">
                        <h3>@favoriteData.Title</h3>
                        <h4 class="margin-b20">@favoriteData.ShortContent</h4>
                        <p>@Html.Raw(favoriteData.Content)</p>
                        <p class="inner"><del class="old-price"><span><b>@favoriteData.OldPrice</b></span></del> / <span class="price"><b style="font-size:20px">@favoriteData.NewPrice</b></span></p>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        <img src="@(System.Configuration.ConfigurationManager.AppSettings["FilesPath"] + favoriteData.Image)" class="img-responsive" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}