﻿@model DAL.AdminMainProgress
@using DAL;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var AllTranslates = Model.AllTranslates;
    var Data = Model.Pages;
}

<section>
    <div class="container margin-t40 font-size">
        <div class="row">
            <div class="col-md-12 margin-b30">
                <h4>
                    <strong>
                        @Data.Title
                    </strong>

                    <span class="title-line2"></span>
                </h4>
            </div>
            <div class="col-md-11 margin-b40">
                <p>@AllTranslates.Where(x => x.DataId == 25).FirstOrDefault().Text</p>

            </div>
            <div class="col-md-12 margin-b40">
                <div class="row">
                    <div class="col-md-6">
                        <h4>BAZAAR GIDA SAN. VE DIŞ TİC. LTD. ŞTİ.</h4>
                        <p><b>A: </b> Kocatepe Mah. Mega Center A/Block No:306 <br />Bayrampaşa / İstanbul</p>
                        <p><b>E: </b><a href="mailto:info@bazaar.com.tr">info@bazaar.com.tr </a>  </p>
                        <p><b>T: </b> +90 (212) 437 07 01 / 02</p>
                        <p><b>F: </b> +90 (212) 437 03 69</p>
                    </div>
                    <div class="col-md-6">
                        <h4>ZIRHLIOĞLU ŞİRKETLER GRUBU</h4>
                        <p><b>A: </b> Kocatepe Mah. Mega Center A/Block No:306 <br />Bayrampaşa / İstanbul</p>
                        <p><b>E: </b><a href="mailto:info@bazaar.com.tr">info@bazaar.com.tr </a>  </p>
                        <p><b>T: </b> +90 (212) 437 07 01 / 02</p>
                        <p><b>F: </b> +90 (212) 437 03 69</p>

                    </div>
                </div>
            </div>
            <div class="col-md-12 margin-b30">
                <h4>
                    <strong>
                        @AllTranslates.Where(x => x.DataId == 43).FirstOrDefault().Text
                    </strong>

                    <span class="title-line2"></span>
                </h4>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <form id="usualValidate" class="mainForm" method="post" action="/Contact" enctype="multipart/form-data">
                        <fieldset>
                            <div class="col-md-5">
                                <div class="input-group margin-b30 col-md-11">
                                    <label>@AllTranslates.Where(x => x.DataId == 57).FirstOrDefault().Text</label>
                                    <input type="text" class="form-control form-control1" maxlength="50" name="NameSurname" required>

                                </div>
                                <div class="input-group margin-b30 col-md-11">
                                    <label>@AllTranslates.Where(x => x.DataId == 47).FirstOrDefault().Text</label>
                                    <input type="email" class="form-control form-control1" maxlength="50" name="Email" required>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="input-group margin-b30 col-md-8">
                                    <label>@AllTranslates.Where(x => x.DataId == 59).FirstOrDefault().Text</label>
                                    <textarea class="form-control form-control1" rows="5" maxlength="4000" name="Message" required></textarea>
                                </div>
                                <button type="submit" class="btn buton2 margin-t20 margin-b25 width100">@AllTranslates.Where(x => x.DataId == 55).FirstOrDefault().Text</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>