﻿@model DAL.AdminMainProgress
@using DAL;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var AllTranslates = Model.AllTranslates;
    var Data = Model.Pages;
}

@if (Request.QueryString["r"] == null)
{
    <section>
        <div class="container margin-t40">
            <div class="row">
                <div class="col-md-12 margin-b30">
                    <h4>
                        <strong>
                            @Data.Title
                        </strong>
                        <span class="title-line2"></span>
                    </h4>
                </div>
                <div class="col-md-11 margin-b40">
                    <p>@Data.ShortContent</p>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <form id="usualValidate" class="mainForm" method="post" action="/CustomerForm" enctype="multipart/form-data">
                            <fieldset>
                                <div class="col-md-5">
                                    <div class="input-group margin-b30 col-md-10">
                                        <label>@AllTranslates.Where(x => x.DataId == 45).FirstOrDefault().Text</label>
                                        <input type="text" class="form-control form-control1 " name="CompanyName" maxlength="100" required>
                                    </div>
                                    <div class="input-group margin-b30 col-md-10">
                                        <label>@AllTranslates.Where(x => x.DataId == 49).FirstOrDefault().Text</label>
                                        <input type="text" class="form-control form-control1" name="RelatedPerson" maxlength="50" required>
                                    </div>
                                    <div class="input-group margin-b30 col-md-10">
                                        <label>@AllTranslates.Where(x => x.DataId == 73).FirstOrDefault().Text</label>
                                        <input type="text" class="form-control form-control1 " name="Phone" maxlength="50" required>
                                    </div>
                                    <div class="input-group margin-b30 col-md-10">
                                        <label>@AllTranslates.Where(x => x.DataId == 51).FirstOrDefault().Text</label>
                                        <input type="text" class="form-control form-control1" name="Tax" maxlength="50" required>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="input-group margin-b30 col-md-10">
                                        <label>@AllTranslates.Where(x => x.DataId == 71).FirstOrDefault().Text</label>
                                        <input type="text" class="form-control form-control1 " name="Signboard" maxlength="100" required>
                                    </div>
                                    <div class="input-group margin-b30 col-md-10">
                                        <label>@AllTranslates.Where(x => x.DataId == 47).FirstOrDefault().Text</label>
                                        <input type="email" class="form-control form-control1" name="Email" maxlength="50" required>
                                    </div>
                                    <div class="input-group margin-b30 col-md-10">
                                        <label>@AllTranslates.Where(x => x.DataId == 75).FirstOrDefault().Text</label>
                                        <input type="text" class="form-control form-control1 " name="Fax" maxlength="50" required>
                                    </div>
                                    <div class="input-group margin-b30 col-md-10">
                                        <label>@AllTranslates.Where(x => x.DataId == 69).FirstOrDefault().Text</label>
                                        <input type="text" class="form-control form-control1" name="TaxNo" maxlength="50" required>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="input-group margin-b30 col-md-11">
                                        <label>@AllTranslates.Where(x => x.DataId == 53).FirstOrDefault().Text</label>
                                        <input type="text" class="form-control form-control1 " name="Address" maxlength="100" required>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <button type="submit" class="buton2 margin-t20 margin-b25 width100 pull-right">@AllTranslates.Where(x => x.DataId == 55).FirstOrDefault().Text</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <section>
        <div class="container">
            <div class="row">
                <div style="background:#f7d62b; width:60px;height:60px;display: block;float: right; position: relative; right: 0px; bottom: -40px;">
                    <span class="icon-magic-wand" style="font-size:30px;line-height: 60px;font-size: 30px;padding-left: 15px;color:#fff;"></span>
                </div>
                <div class="col-md-12 margin-b40 margin-t40" style="padding: 20px;background: #f4f4f4;font-weight: normal;font-size:20px;">
                    <p>@AllTranslates.Where(x => x.DataId == 65).FirstOrDefault().Text</p>
                </div>
            </div>
        </div>
    </section>
}