﻿@model DAL.AdminMainProgress
@using DAL;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var data = Model.Pages;
}
<section>
    <div class="container margin-t40 font-size">
        <div class="row">
            @if (data != null)
            {
                @section MetaTags{
                    <title>@("Bazaar - " + data.Title)</title>
                    <meta name="keywords" content="@data.Keywords">
                    <meta name="description" content="@data.Description">
                }
                <div class="col-md-12 margin-b30">
                    <h4>
                        <strong>@data.Title</strong>
                        <span class="title-line2"></span>
                    </h4>
                </div>
                <div class="col-md-12 margin-b30">
                    <p>
                        @Html.Raw(data.ShortContent)
                    </p>

                </div>
                if (data.Image.ToString() != string.Empty)
                {
                    <img src="@(System.Configuration.ConfigurationManager.AppSettings["FilesPath"] + data.Image)" />
                }
                <div class="col-md-12 margin-b30">
                    <p>
                        @Html.Raw(data.Content)
                    </p>

                </div>
            }
        </div>
    </div>
</section>