﻿@model DAL.AdminMainProgress
@using DAL;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var AllTranslates = Model.AllTranslates;
    var dealerships = Model.AllDealerships.ToList();
    var services = Model.AllServices.ToList();
}
<section>
    <div class="container margin-t40 font-size">
        <div class="row">
            @foreach (var item in services)
            {
                <div class="col-md-4 col-xs-6 margin-b30">
                    <div class="row">
                        <div class="col-md-12 col-xs-8 ">
                            <h4>
                                <strong>@item.Title</strong>
                                <span class="title-line2"></span>
                            </h4>
                            @if (item.Image.ToString() != string.Empty)
                            {
                                <img src="@(System.Configuration.ConfigurationManager.AppSettings["FilesPath"] + item.Image)" class="img-responsive" />
                            }
                            else
                            {
                                <img src="/Assets/img/urun-1.jpg" class="img-responsive" />
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11 col-xs-8">
                            <p class="margin-b20">@Html.Raw(item.Content)</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- Services / Dealerships -->
<section>
    <div class="container margin-b30 font-size">
        <div class="row">
            <div class="col-md-12 margin-t20 margin-b25 ">
                <h4 class="text-center line-before3">
                    <strong>
                        @AllTranslates.Where(x => x.DataId == 27).FirstOrDefault().Text
                    </strong>
                </h4>
            </div>
        </div>
        <div class="row margin-b30">
            <div class="col-md-12 text-center">
                <p>
                    Ürün grupları Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non dignissim enim, in congue felis.
                    Curabitur vitae odio non lacus aliquet congue quis sit amet risus. Vestibulum mauris ligula, ultricies at laoreet sit amet, viverra quis urna.
                </p>
            </div>
        </div>
        <div class="row">
            @foreach (var item2 in dealerships)
            {
                <div class="col-md-3  margin-b30">
                    <figure>
                        <a href="@(item2.Link.ToString() != string.Empty ? item2.Link : "javascript:;")" target="_blank">
                            @if (item2.Image.ToString() != string.Empty)
                            {
                                <img src="@(System.Configuration.ConfigurationManager.AppSettings["FilesPath"] + item2.Image)" class="img-responsive" title="@item2.Title" />
                            }
                            else
                            {
                                <img src="/Assets/img/marka-logo5.jpg" class="img-responsive" />
                            }
                        </a>
                    </figure>
                </div>
            }
        </div>
    </div>
</section>