﻿@model DAL.AdminMainProgress
@using DAL;

@{
    ViewBag.Title = "ContactForms";
    Layout = "~/Views/Shared/Admin.cshtml";
}

@{
    var action = Request.QueryString["action"];
    if (action != "update")
    {
        Session["ContactForms"] = null;
        <div class="table">
            <div class="head"><h5 class="iFrames">İletişim Formları</h5></div>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Ad Soyad</th>
                        <th>E-posta</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var contactforms in Model.AllContactForms)
                    {
                        <tr class="gradeU">
                            <td>
                                @contactforms.Id
                            </td>
                            <td>
                                <span>@contactforms.NameSurname</span>
                            </td>
                            <td>
                                <span>@contactforms.Email</span>
                            </td>
                            <td class="center">
                                <a href="?action=update&Id=@contactforms.Id" style="padding-left:10px"><img src="/Liquid/Dark/images/icons/dark/pencil.png" /></a>
                                <a href="#" style="padding-left:10px" onclick="DeleteData(@contactforms.Id)"><img src="/Liquid/Dark/images/icons/dark/trash.png" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else if (action == "update")
    {
        var Id = Request.QueryString["Id"].IllegalCharRemove().ObjectConvertToInt();
        if (Id != 0 && Id > 0)
        {
            var contactforms = Model.AllContactForms.Where(x => x.Id == Id).FirstOrDefault();
            if (contactforms != null)
            {
                <form id="usualValidate" class="mainForm" method="post" action="/Admin/ContactForms" enctype="multipart/form-data">
                    <fieldset>
                        <div class="widget">
                            <div class="head"><h5 class="iLocked">Detaylar</h5></div>
                            <div class="rowElem noborder">
                                <label>Ad Soyad:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@contactforms.NameSurname" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>E-posta:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@contactforms.Email" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Mesaj</label>
                                <div class="formRight">
                                    <textarea rows="10" readonly>@contactforms.Message</textarea><div class="fix"></div>
                                </div><div class="fix"></div>
                            </div>
                            <div class="submitForm"><input autocomplete="off" type="submit" value="GERİ DÖN" class="redBtn mb22" /></div>
                            <div class="fix"></div>
                        </div>
                    </fieldset>
                </form>
            }
            else
            {
                Session["ContactForms"] = Id;
                Response.Redirect("ContactForms");
            }
        }
    }
}