﻿@model DAL.AdminMainProgress
@using DAL;

@{
    ViewBag.Title = "CustomerForms";
    Layout = "~/Views/Shared/Admin.cshtml";
}

@{
    var action = Request.QueryString["action"];
    if (action != "update")
    {
        Session["CustomerForms"] = null;
        <div class="table">
            <div class="head"><h5 class="iFrames">İletişim Formları</h5></div>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Firma Ünvanı</th>
                        <th>Yetkili İsim</th>
                        <th>Telefon</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var customerforms in Model.AllCustomerForm)
                    {
                        <tr class="gradeU">
                            <td>
                                @customerforms.Id
                            </td>
                            <td>
                                <span>@customerforms.CompanyName</span>
                            </td>
                            <td>
                                <span>@customerforms.RelatedPerson</span>
                            </td>
                            <td>
                                <span>@customerforms.Phone</span>
                            </td>
                            <td class="center">
                                <a href="?action=update&Id=@customerforms.Id" style="padding-left:10px"><img src="/Liquid/Dark/images/icons/dark/pencil.png" /></a>
                                <a href="#" style="padding-left:10px" onclick="DeleteData(@customerforms.Id)"><img src="/Liquid/Dark/images/icons/dark/trash.png" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else if (action == "update")
    {
        var Id = Request.QueryString["Id"].IllegalCharRemove().ObjectConvertToInt();
        if (Id != 0 && Id > 0)
        {
            var customerforms = Model.AllCustomerForm.Where(x => x.Id == Id).FirstOrDefault();
            if (customerforms != null)
            {
                <form id="usualValidate" class="mainForm" method="post" action="/Admin/CustomerForms" enctype="multipart/form-data">
                    <fieldset>
                        <div class="widget">
                            <div class="head"><h5 class="iLocked">Detaylar</h5></div>
                            <div class="rowElem noborder">
                                <label>Firma Ünvanı:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@customerforms.CompanyName" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Tabela İsmi:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@customerforms.Signboard" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Yetkili Kişi:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@customerforms.RelatedPerson" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Adres:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@customerforms.Address" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Telefon:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@customerforms.Phone" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Faks:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@customerforms.Fax" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>E-posta:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@customerforms.Email" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Vergi Dairesi:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@customerforms.Tax" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Vergi No:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@customerforms.TaxNo" readonly /><div class="fix"></div>
                                </div>
                            </div>

                            <div class="submitForm"><input autocomplete="off" type="submit" value="GERİ DÖN" class="redBtn mb22" /></div>
                            <div class="fix"></div>
                        </div>
                    </fieldset>
                </form>
            }
            else
            {
                Session["CustomerForms"] = Id;
                Response.Redirect("CustomerForms");
            }
        }
    }
}