﻿@model DAL.AdminMainProgress
@using DAL;

<div class="leftNav">
    <ul id="menu">
        @foreach (var m in Model.AllPanelMenu.Where(x => x.ParentId == 0 && x.Active == true && x.Deleted == false).OrderBy(x => x.Order))
        {
            var route = HttpContext.Current.Request.RequestContext.RouteData.Values["action"];
            if (int.Parse(Session["Login"].ToString()) <= m.Access)
            {
                var howManySubCategory = Model.AllPanelMenu.Where(x => x.ParentId == m.Id).Count();
                <li class="@m.Icon">
                    @if (howManySubCategory > 0)
                    {
                        <a href="@("/Admin/"+m.Url)" title="" class="exp">
                            <span>@m.Name</span>
                            @*<span class="numberLeft">@howManySubCategory</span>*@
                        </a>
                    }
                    else
                    {
                        if (m.Url == route.ToString())
                        {
                            <a href="@("/Admin/"+m.Url)" class="active"><span>@m.Name</span></a>
                        }
                        else
                        {
                            <a href="@("/Admin/"+m.Url)"><span>@m.Name</span></a>
                        }
                    }
                    <ul class="sub">
                        @foreach (var sm in Model.AllPanelMenu.Where(x => x.ParentId == m.Id && x.Active == true && x.Deleted == false).OrderBy(x => x.Order))
                        {
                            if (int.Parse(Session["Login"].ToString()) <= sm.Access)
                            {
                                if (sm.Url == route.ToString())
                                {
                                    <li><a href="@("/Admin/"+sm.Url)" title="" class="active">@sm.Name</a></li>
                                }
                                else
                                {
                                    <li><a href="@("/Admin/"+sm.Url)" title="">@sm.Name</a></li>
                                }
                            }
                        }
                    </ul>
                </li>
            }
        }
    </ul>
</div>