﻿@model DAL.AdminMainProgress
@using DAL;

@{
    ViewBag.Title = "MultiPreferences";
    Layout = "~/Views/Shared/Admin.cshtml";
}

@Html.Action("ChangeLanguage")

@{
    var action = Request.QueryString["action"];

    if (Session["AdminLanguage"] == null)
    {
        Session["AdminLanguage"] = 1;
    }

    var LanguageId = Session["AdminLanguage"].IllegalCharRemove().ObjectConvertToInt();

    if (LanguageId != 0 && LanguageId > 0)
    {
        var multipreferences = Model.AllMultiPreferences.Where(x => x.LanguageId == LanguageId).FirstOrDefault();
        if (multipreferences == null)
        {
            <form id="usualValidate" class="mainForm" style="float:left;width:100%;" method="post" action="/Admin/MultiPreferencesUpdate">
                <fieldset>
                    <div class="widget">
                        <div class="head"><h5 class="iLocked">Site Tercihleri</h5></div>
                        <input autocomplete="off" type="hidden" name="Id" value="@LanguageId" />
                        <div class="rowElem noborder">
                            <label>Site Title:</label>
                            <div class="formRight">
                                <input autocomplete="off" type="text" class="required" name="Title" maxlength="50" /><div class="fix"></div>
                            </div>
                        </div>
                        <div class="rowElem noborder">
                            <label>Meta Description:</label>
                            <div class="formRight">
                                <input autocomplete="off" type="text" class="required" name="Description" maxlength="150" /><div class="fix"></div>
                            </div>
                        </div>
                        <div class="rowElem noborder">
                            <label>Meta Keywords:</label>
                            <div class="formRight">
                                <input autocomplete="off" type="text" class="required" name="Keywords" maxlength="150" /><div class="fix"></div>
                            </div>
                        </div>
                        <div class="rowElem noborder">
                            <label>E-Katalog:</label>
                            <div class="formRight">
                                <input autocomplete="off" id="Catalog" name="Catalog" type="text" size="60" maxlength="50" />
                                <div class="fix"><br /></div>
                                <input autocomplete="off" type="button" value="Dosya Seç" onclick="BrowseServerImage('Catalog');" class="btn55" />
                            </div>
                        </div>
                        <div class="rowElem noborder">
                            <label>Footer Metni:</label>
                            <div class="formRight">
                                <input autocomplete="off" type="text" class="required" name="Footer" maxlength="250" /><div class="fix"></div>
                            </div>
                        </div>
                        <div class="rowElem noborder">
                            <label>Adres:</label>
                            <div class="formRight">
                                <input autocomplete="off" type="text" name="Address" /><div class="fix"></div>
                            </div>
                        </div>
                        <div class="rowElem noborder">
                            <label>Destek Telefonu:</label>
                            <div class="formRight">
                                <input autocomplete="off" type="text" name="SupportPhone" /><div class="fix"></div>
                            </div>
                        </div>
                        <div class="rowElem noborder">
                            <label>Telefon:</label>
                            <div class="formRight">
                                <input autocomplete="off" type="text" name="Phone" /><div class="fix"></div>
                            </div>
                        </div>
                        <div class="rowElem noborder">
                            <label>Faks:</label>
                            <div class="formRight">
                                <input autocomplete="off" type="text" name="Fax" /><div class="fix"></div>
                            </div>
                        </div>
                        <div class="rowElem noborder">
                            <label>E-posta:</label>
                            <div class="formRight">
                                <input autocomplete="off" type="text" name="Email" /><div class="fix"></div>
                            </div>
                        </div>
                        <div class="submitForm"><input autocomplete="off" type="submit" value="GÜNCELLE" class="redBtn mb22" /></div>
                        <div class="fix"></div>
                    </div>
                </fieldset>
            </form>
        }
        else
        {
            <form id="usualValidate" class="mainForm" style="float:left;width:100%;" method="post" action="/Admin/MultiPreferencesUpdate">
                <fieldset>
                    <div class="widget">
                        <div class="head"><h5 class="iLocked">Site Tercihleri</h5></div>
                        <input autocomplete="off" type="hidden" name="Id" value="@LanguageId" />
                        <div class="rowElem noborder">
                            <label>Site Title:</label>
                            <div class="formRight">
                                <input autocomplete="off" type="text" class="required" name="Title" value="@multipreferences.Title" maxlength="50" /><div class="fix"></div>
                            </div>
                        </div>
                        <div class="rowElem noborder">
                            <label>Meta Description:</label>
                            <div class="formRight">
                                <input autocomplete="off" type="text" class="required" name="Description" value="@multipreferences.Description" maxlength="150" /><div class="fix"></div>
                            </div>
                        </div>
                        <div class="rowElem noborder">
                            <label>Meta Keywords:</label>
                            <div class="formRight">
                                <input autocomplete="off" type="text" class="required" name="Keywords" value="@multipreferences.Keywords" maxlength="150" /><div class="fix"></div>
                            </div>
                        </div>
                        <div class="rowElem noborder">
                            <label>E-Katalog:</label>
                            <div class="formRight">
                                <input autocomplete="off" id="Catalog" name="Catalog" type="text" size="60" maxlength="50" value="@multipreferences.Catalog" />
                                <div class="fix"><br /></div>
                                <input autocomplete="off" type="button" value="Dosya Seç" onclick="BrowseServerImage('Catalog');" class="btn55" />
                            </div><div class="fix"></div>
                        </div>
                        <div class="rowElem noborder">
                            <label>Footer Metni:</label>
                            <div class="formRight">
                                <input autocomplete="off" type="text" class="required" name="Footer" value="@multipreferences.Footer" maxlength="250" /><div class="fix"></div>
                            </div>
                        </div>
                        <div class="rowElem noborder">
                            <label>Adres:</label>
                            <div class="formRight">
                                <input autocomplete="off" type="text" name="Address" value="@multipreferences.Address" /><div class="fix"></div>
                            </div>
                        </div>
                        <div class="rowElem noborder">
                            <label>Destek Telefonu:</label>
                            <div class="formRight">
                                <input autocomplete="off" type="text" name="SupportPhone" value="@multipreferences.SupportPhone" /><div class="fix"></div>
                            </div>
                        </div>
                        <div class="rowElem noborder">
                            <label>Telefon:</label>
                            <div class="formRight">
                                <input autocomplete="off" type="text" name="Phone" value="@multipreferences.Phone" /><div class="fix"></div>
                            </div>
                        </div>
                        <div class="rowElem noborder">
                            <label>Faks:</label>
                            <div class="formRight">
                                <input autocomplete="off" type="text" name="Fax" value="@multipreferences.Fax" /><div class="fix"></div>
                            </div>
                        </div>
                        <div class="rowElem noborder">
                            <label>E-posta:</label>
                            <div class="formRight">
                                <input autocomplete="off" type="text" name="Email" value="@multipreferences.Email" /><div class="fix"></div>
                            </div>
                        </div>
                        <div class="submitForm"><input autocomplete="off" type="submit" value="GÜNCELLE" class="redBtn mb22" /></div>
                        <div class="fix"></div>
                    </div>
                </fieldset>
            </form>
        }
    }
}