﻿@model DAL.AdminMainProgress
@using DAL;

@{
    ViewBag.Title = "Pages";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<a href="?action=add" class="btnIconLeftGreen"><img src="/Liquid/Dark/images/icons/dark/adminUser.png" alt="" class="icon" /><span>YENİ KAYIT</span></a>
<a href="?action=sort" class="btnIconLeftGreen"><img src="/Liquid/Dark/images/icons/dark/adminUser.png" alt="" class="icon" /><span>SIRALAMA</span></a>
@Html.Action("ChangeLanguage")

@{
    var action = Request.QueryString["action"];

    if (action != "add" && action != "update" && action != "sort")
    {
        Session["Pages"] = null;
        <div class="table">
            <div class="head"><h5 class="iFrames">Sayfalar</h5></div>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Başlık</th>
                        <th>Üst Sayfa</th>
                        <th>Kısa İçerik</th>
                        <th>Aktif</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pages in Model.AllPages.Where(x => x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())))
                    {
                        var parentId = Model.AllPages.Where(x => x.Id == pages.ParentId).FirstOrDefault();
                        <tr class="gradeU">
                            <td>
                                @pages.Id
                            </td>
                            <td>
                                <span>@pages.Title</span>
                            </td>
                            <td>
                                <span>@(parentId != null ? parentId.Title : string.Empty)</span>
                            </td>
                            <td>
                                <span>@pages.ShortContent</span>
                            </td>
                            <td>
                                @if (pages.Active == true)
                                {
                                    <input autocomplete="off" type="checkbox" name="Active" class="pagesIsActive" id="@pages.Id" checked="checked" />
                                }
                                else
                                {
                                    <input autocomplete="off" type="checkbox" name="Active" class="pagesIsActive" id="@pages.Id" />
                                }
                            </td>
                            <td class="center">
                                <a href="?action=update&Id=@pages.DataId" style="padding-left:10px"><img src="/Liquid/Dark/images/icons/dark/pencil.png" /></a>
                                <a href="#" style="padding-left:10px" onclick="DeleteData(@pages.Id)"><img src="/Liquid/Dark/images/icons/dark/trash.png" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else if (action == "add")
    {
        <form id="usualValidate" class="mainForm" method="post" action="/Admin/PagesSave" enctype="multipart/form-data">
            <fieldset>
                <div class="widget">
                    <div class="head"><h5 class="iLocked">Yeni Kayıt</h5></div>
                    @{
        if (Session["Pages"] != null)
        {
            <input autocomplete="off" type="hidden" name="Id" id="Id" value="@Session["Pages"].ObjectConvertToInt()" />
                        <input autocomplete="off" type="hidden" name="LanguageId" id="LanguageId" value="@Session["AdminLanguage"].ObjectConvertToInt()" />
        }

        if (int.Parse(Session["AdminLanguage"].ToString()) != 1)
        {
            <div class="rowElem noborder">
                <label>Orijinal İçerik:</label>
                <div class="formRight selectDown">
                    <select id="DataId" name="DataId" class="required">
                        <option value="">- Seçiniz -</option>
                        @foreach (var item in Model.GetPages().Where(x => x.LanguageId == 1 && x.Active == true).OrderBy(x => x.Title))
                        {
                            var isHave = Model.GetPages().Where(x => x.DataId == item.DataId && x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())).Count();
                            if (isHave == 0)
                            {
                                if (Session["Pages"] != null && item.DataId == int.Parse(Session["Pages"].ToString()))
                                {
                                    <option value="@item.Id" selected="selected">@item.Title</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
                        <div class="ChooseLang"></div>
        }
        else
        {
            <input autocomplete="off" type="hidden" name="DataId" id="DataId" value="0" />
        }
                    }
                    <div class="rowElem noborder">
                        <label>Üst Sayfa:</label>
                        <div class="formRight selectDown">
                            <select name="ParentId" class="aktifPasif" required="required">
                                <option value="0">- Yok -</option>
                                @foreach (var item in Model.AllPages.Where(x => x.ParentId == 0 && x.LanguageId == int.Parse(Session["AdminLanguage"].ToString()) && x.Active == true).OrderBy(x => x.Id))
                                {
                                    if (item != null)
                                    {
                                        <option value="@item.DataId">@item.Title</option>
                                    }
                                }
                                @foreach (var item2 in Model.AllPages.Where(x => x.ParentId != 0 && x.LanguageId == int.Parse(Session["AdminLanguage"].ToString()) && x.Active == true).OrderBy(x => x.ParentId))
                                {
                                    var sub = Model.AllPages.Where(x => x.Id == item2.ParentId).FirstOrDefault();
                                    if (sub != null)
                                    {
                                        <option value="@item2.DataId">@(sub.Title + " > " + item2.Title)</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Başlık:</label>
                        <div class="formRight"><input autocomplete="off" type="text" class="required" name="Title" id="Title" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Kısa İçerik:</label>
                        <div class="formRight"><input autocomplete="off" type="text" name="ShortContent" id="ShortContent" maxlength="250" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>İçerik:</label>
                        <div class="formRight"><textarea id="ckeditor" class="ckeditor" name="Content"></textarea></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Banner:</label>
                        <div class="formRight">
                            <input autocomplete="off" id="Banner" name="Banner" type="text" size="60" maxlength="50" />
                            <div class="fix"><br /></div>
                            <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('Banner');" class="btn55" />
                        </div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Önizleme (Thumbnail):</label>
                        <div class="formRight">
                            <input autocomplete="off" id="Thumbnail" name="Thumbnail" type="text" size="60" maxlength="50" />
                            <div class="fix"><br /></div>
                            <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('Thumbnail');" class="btn55" />
                        </div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Görsel:</label>
                        <div class="formRight">
                            <input autocomplete="off" id="Image" name="Image" type="text" size="60" maxlength="50" />
                            <div class="fix"><br /></div>
                            <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('Image');" class="btn55" />
                        </div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Video Embed Kodu:</label>
                        <div class="formRight">
                            <textarea name="Video" rows="5"></textarea><div class="fix"></div>
                        </div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Dosya:</label>
                        <div class="formRight">
                            <input autocomplete="off" id="FilePath" name="File" type="text" size="60" maxlength="50" />
                            <div class="fix"><br /></div>
                            <input autocomplete="off" type="button" value="Dosya Seç" onclick="BrowseServerFile();" class="btn55" />
                        </div>
                    </div>
                    <div class="rowElem noborder">
                        <label>View:</label>
                        <div class="formRight"><input autocomplete="off" type="text" name="View" id="View" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Menü Gösterim:</label>
                        <div class="formRight selectDown">
                            <select name="ShowMenu" class="aktifPasif">
                                <option value="0">Evet</option>
                                <option value="1">Hayır</option>
                            </select>
                        </div><div class="fix"></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Footer Gösterim:</label>
                        <div class="formRight selectDown">
                            <select name="ShowFooter" class="aktifPasif">
                                <option value="0">Evet</option>
                                <option value="1" selected="selected">Hayır</option>
                            </select>
                        </div><div class="fix"></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Friendly Url:</label>
                        <div class="formRight"><input autocomplete="off" type="text" placeholder="Boş bırakırsanız, üst sayfa ve sayfa başlığı baz alınacaktır." name="FriendlyUrl" id="FriendlyUrl" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Keywords:</label>
                        <div class="formRight"><input autocomplete="off" type="text" name="Keywords" id="Keywords" maxlength="150" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Description:</label>
                        <div class="formRight"><input autocomplete="off" type="text" name="Description" id="Description" maxlength="150" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Durum:</label>
                        <div class="formRight selectDown">
                            <select name="Active" class="aktifPasif">
                                <option value="0">Aktif</option>
                                <option value="1">Pasif</option>
                            </select>
                        </div><div class="fix"></div>
                    </div>
                    <div class="submitForm"><input autocomplete="off" type="submit" value="KAYDET" class="redBtn mb22" /></div>
                    <div class="fix"></div>
                </div>
            </fieldset>
        </form>
    }
    else if (action == "sort")
    {
        <div class="widget">
            <div class="head"><h5 class="iLocked">SIRALAMA</h5></div>
            <ul id="sortable">
                @foreach (var pageItem in Model.AllPages.Where(x => x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())).OrderBy(x => x.Order))
                {
                    <li class="ui-state-default" id="@pageItem.Id"><img src="/Liquid/Dark/images/icons/color/category.png" />@pageItem.Title</li>
                }
            </ul>
            <a href="#" class="btnIconLeftGreen" id="PagesSaveSort"><span>KAYDET</span></a>
        </div>
    }
    else if (action == "update")
    {
        var Id = Request.QueryString["Id"].IllegalCharRemove().ObjectConvertToInt();
        if (Id != 0 && Id > 0)
        {
            var pages = Model.AllPages.Where(x => x.DataId == Id && x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())).FirstOrDefault();
            if (pages != null)
            {
                <form id="usualValidate" class="mainForm" method="post" action="/Admin/PagesUpdate">
                    <input autocomplete="off" type="hidden" name="LanguageId" id="LanguageId" value="@Session["AdminLanguage"].ObjectConvertToInt()" />
                    <fieldset>
                        <div class="widget">
                            <div class="head"><h5 class="iLocked">Güncelleme</h5></div>
                            <input autocomplete="off" type="hidden" name="Id" value="@pages.DataId" />
                            @if (int.Parse(Session["AdminLanguage"].ToString()) != 1)
                            {
                                <div class="rowElem noborder">
                                    <label>Orijinal İçerik:</label>
                                    <div class="formRight selectDown">
                                        <select id="DataId" name="DataId" class="required">
                                            <option value="">- Seçiniz -</option>
                                            @foreach (var item in Model.GetPages().Where(x => x.LanguageId == 1 && x.Active == true).OrderBy(x => x.Title))
                                            {
                                                if (item.DataId == pages.DataId)
                                                {
                                                    <option value="@item.Id" selected="selected">@item.Title</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.Title</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="ChooseLang"></div>
                            }
                            else
                            {
                                <input autocomplete="off" type="hidden" name="DataId" id="DataId" value="@pages.DataId" />
                            }
                            <div class="rowElem noborder">
                                <label>Üst Sayfa:</label>
                                <div class="formRight selectDown">
                                    <select name="ParentId" class="aktifPasif" required="required">
                                        <option value="0">- Yok -</option>
                                        @foreach (var item in Model.AllPages.Where(x => x.ParentId == 0 && x.LanguageId == int.Parse(Session["AdminLanguage"].ToString()) && x.Active == true).OrderBy(x => x.Id))
                                        {
                                            var parent1 = Model.AllPages.Where(x => x.ParentId == item.Id).FirstOrDefault();
                                            if (item != null && parent1 != null)
                                            {
                                                if (item.Id == pages.ParentId)
                                                {
                                                    <option value="@item.DataId" selected="selected">@item.Title</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.DataId">@item.Title</option>
                                                }
                                            }
                                        }
                                        @foreach (var item2 in Model.AllPages.Where(x => x.ParentId != 0 && x.LanguageId == int.Parse(Session["AdminLanguage"].ToString()) && x.Active == true).OrderBy(x => x.ParentId))
                                        {
                                            var sub = Model.AllPages.Where(x => x.Id == item2.ParentId).FirstOrDefault();
                                            var parent2 = Model.AllPages.Where(x => x.ParentId == item2.Id).FirstOrDefault();
                                            if (sub != null)
                                            {
                                                if (item2.Id == pages.ParentId)
                                                {
                                                    <option value="@item2.DataId" selected="selected">@(sub.Title + " > " + item2.Title)</option>
                                                }
                                                else
                                                {
                                                    <option value="@item2.DataId">@(sub.Title + " > " + item2.Title)</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Başlık:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" name="Title" value="@pages.Title" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Kısa İçerik:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" name="ShortContent" value="@pages.ShortContent" maxlength="250" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>İçerik:</label>
                                <div class="formRight">
                                    <textarea id="ckeditor" class="ckeditor" name="Content">@pages.Content</textarea><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Banner:</label>
                                <div class="formRight">
                                    <input autocomplete="off" id="Banner" name="Banner" type="text" size="60" maxlength="50" value="@pages.Banner" />
                                    <div class="fix"><br /></div>
                                    <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('Banner');" class="btn55" />
                                </div><div class="fix"></div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Önizleme (Thumbnail):</label>
                                <div class="formRight">
                                    <input autocomplete="off" id="Thumbnail" name="Thumbnail" type="text" size="60" maxlength="50" value="@pages.Thumbnail" />
                                    <div class="fix"><br /></div>
                                    <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('Thumbnail');" class="btn55" />
                                </div><div class="fix"></div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Görsel:</label>
                                <div class="formRight">
                                    <input autocomplete="off" id="Image" name="Image" type="text" size="60" maxlength="50" value="@pages.Image" />
                                    <div class="fix"><br /></div>
                                    <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('Image');" class="btn55" />
                                </div><div class="fix"></div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Video Embed Kodu:</label>
                                <div class="formRight">
                                    <textarea name="Video" rows="5">@pages.Video</textarea><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Dosya:</label>
                                <div class="formRight">
                                    <input autocomplete="off" id="FilePath" name="File" type="text" size="60" maxlength="50" value="@pages.File" />
                                    <div class="fix"><br /></div>
                                    <input autocomplete="off" type="button" value="Dosya Seç" onclick="BrowseServerFile();" class="btn55" />
                                </div><div class="fix"></div>
                            </div>
                            <div class="rowElem noborder">
                                <label>View:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" name="View" value="@pages.View" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Menü Gösterim:</label>
                                <div class="formRight selectDown">
                                    <select name="ShowMenu" class="aktifPasif">
                                        @if (pages.ShowMenu == true)
                                        {
                                            <option value="0" selected="selected">Evet</option>
                                            <option value="1">Hayır</option>
                                        }
                                        else
                                        {
                                            <option value="0">Evet</option>
                                            <option value="1" selected="selected">Hayır</option>
                                        }
                                    </select>
                                </div><div class="fix"></div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Footer Gösterim:</label>
                                <div class="formRight selectDown">
                                    <select name="ShowFooter" class="aktifPasif">
                                        @if (pages.ShowFooter == true)
                                        {
                                            <option value="0" selected="selected">Evet</option>
                                            <option value="1">Hayır</option>
                                        }
                                        else
                                        {
                                            <option value="0">Evet</option>
                                            <option value="1" selected="selected">Hayır</option>
                                        }
                                    </select>
                                </div><div class="fix"></div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Friendly Url:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" placeholder="Boş bırakırsanız, üst sayfa ve sayfa başlığı baz alınacaktır." name="FriendlyUrl" value="@pages.FriendlyUrl" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Keywords:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" name="Keywords" value="@pages.Keywords" maxlength="150" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Description:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" name="Description" value="@pages.Description" maxlength="150" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Durum:</label>
                                <div class="formRight selectDown">
                                    <select name="Active" class="aktifPasif">
                                        @if (pages.Active == true)
                                        {
                                            <option value="0" selected="selected">Aktif</option>
                                            <option value="1">Pasif</option>
                                        }
                                        else
                                        {
                                            <option value="0">Aktif</option>
                                            <option value="1" selected="selected">Pasif</option>
                                        }
                                    </select>
                                </div><div class="fix"></div>
                            </div>
                            <div class="submitForm"><input autocomplete="off" type="submit" value="GÜNCELLE" class="redBtn mb22" /></div>
                            <div class="fix"></div>
                        </div>
                    </fieldset>
                </form>
            }
            else
            {
                Session["Pages"] = Id;
                Response.Redirect("Pages?action=add");
            }
        }
    }
}
