﻿@model DAL.AdminMainProgress
@using DAL;

@{
    ViewBag.Title = "Preferences";
    Layout = "~/Views/Shared/Admin.cshtml";
}

@{
    var action = Request.QueryString["action"];
    var Id = 1;
    if (Id != 0 && Id > 0)
    {
        var preferences = Model.Preferences;
        if (preferences != null)
        {
            <form id="usualValidate" class="mainForm" method="post" action="/Admin/PreferencesUpdate">
                <fieldset>
                    <div class="widget">
                        <div class="head"><h5 class="iLocked">Site Özellikleri</h5></div>
                        <input autocomplete="off" type="hidden" name="Id" value="@Id" />
                        <div class="rowElem noborder">
                            <label>Logo (173x143):</label>
                            <div class="formRight">
                                <input autocomplete="off" id="Logo" name="Logo" type="text" size="60" maxlength="50" value="@preferences.Logo" required />
                                <div class="fix"><br /></div>
                                <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('Logo');" class="btn55" />
                            </div><div class="fix"></div>
                        </div>
                        <div class="rowElem noborder">
                            <label>Favicon (16x16 PNG):</label>
                            <div class="formRight">
                                <input autocomplete="off" id="Favicon" name="Favicon" type="text" size="60" maxlength="50" value="@preferences.Favicon" />
                                <div class="fix"><br /></div>
                                <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('Favicon');" class="btn55" />
                            </div><div class="fix"></div>
                        </div>
                        <div class="rowElem noborder">
                            <label>Google Analytics Kodu:</label>
                            <div class="formRight">
                                <textarea id="ckeditor" name="GoogleAnalytics" rows="10">@preferences.GoogleAnalytics</textarea>
                            </div><div class="fix"></div>
                        </div>
                        <div class="submitForm"><input autocomplete="off" type="submit" value="GÜNCELLE" class="redBtn mb22" /></div>
                        <div class="fix"></div>
                    </div>
                </fieldset>
            </form>
        }
        else
        {
            Session["Preferences"] = Id;
            Response.Redirect("Index");
        }
    }
}