﻿@model DAL.AdminMainProgress
@using DAL;
@{
    var socialMedia = Model.AllSocialMedia.ToList();
    var footerMenu = Model.AllPages.Where(x => x.ShowFooter == true).ToList();
    var MultiPreferences = Model.MultiPreferences;
}
<section>
    <div class="container-fluid mt">
    </div>
    <div class="container margin-t15 margin-b50">
        <div class="row col-md-offset-2">
            <div class="col-md-2  margin-t40 text-center">
                <img src="/Assets/img/small-logo.jpg">
                <div style="height: 90px;width: 1px;background: #e6e6e6;position: absolute;top: 0;right: 0;"></div>
            </div>
            <div class="col-md-3  margin-t40">
                <div class="margin-l15 ">
                    <p class="margin-b10 font-8 text-left">@MultiPreferences.Address</p>
                    <p class="nomargin font-8 text-left">
                        <strong class="font-8 text-left">Tel: </strong>@MultiPreferences.Phone
                    </p>
                    <p class="nomargin font-8 text-left">
                        <strong class="font-8 text-left">Fax: </strong>@MultiPreferences.Fax
                    </p>
                    <p class="nomargin font-8 text-left">
                        <strong class="font-8 text-left">E-posta: </strong> <a href="@("mailto:" + MultiPreferences.Email)">@MultiPreferences.Email</a>
                    </p>
                </div>
                <div style="height: 90px;width: 1px;background: #e6e6e6;position: absolute;top: 0;right: 0;"></div>
            </div>
            <div class="col-md-2  margin-t40">
                <div style="text-align:center;margin-top:68px;">
                    @foreach (var item in socialMedia)
                    {
                        <a href="@item.Link" target="_blank" class="social"><i class="@("fa fa-" + item.Name.ToLower() + " margin-r15")"></i></a>
                    }
                </div>
                <div style="height: 90px;width: 1px;background: #e6e6e6;position: absolute;top: 0;right: 0;"></div>
            </div>
            <div class="col-md-2  margin-t40">
                <h3 style="margin-top:58px;text-align:center">
                    <span class="icon-earphones-alt padding-r5 icon1 ">
                    </span>
                    <strong class="font-13">@MultiPreferences.SupportPhone</strong>
                </h3>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid" style="background:#f4f4f4;">
        <div class="container margin-t20">
            <div class="row">
                <div class="col-md-5">
                    <span class="font-8">@MultiPreferences.Footer</span>
                </div>
                <div class="col-md-7 ">
                    <ol class="breadcrumb pull-right">
                        @foreach (var item2 in footerMenu)
                        {
                            <li><a href="@item2.FriendlyUrl">@item2.Title</a></li>
                        }
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>