﻿@model DAL.AdminMainProgress
@using DAL;

@{Layout = null;}
@{
    if (Session["Login"] == null || Session["Name"] == null || Session["Surname"] == null || Session["AdminLanguage"] == null)
    {
        Response.Redirect("/Admin/Login");
    }
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Admin Paneli</title>
    <link href="/Liquid/customCss/jquery.tagsinput.css" rel="stylesheet" />

    @*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@

    <script src="/Liquid/customJs/jquery.tagsinput.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css' />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>

    <script type="text/javascript" src="/Liquid/Dark/js/plugins/spinner/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="/Liquid/Dark/js/plugins/spinner/ui.spinner.js"></script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

    <script type="text/javascript" src="/Liquid/Dark/js/plugins/wysiwyg/jquery.wysiwyg.js"></script>
    <script type="text/javascript" src="/Liquid/Dark/js/plugins/wysiwyg/wysiwyg.image.js"></script>
    <script type="text/javascript" src="/Liquid/Dark/js/plugins/wysiwyg/wysiwyg.link.js"></script>
    <script type="text/javascript" src="/Liquid/Dark/js/plugins/wysiwyg/wysiwyg.table.js"></script>

    <script type="text/javascript" src="/Liquid/Dark/js/plugins/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="/Liquid/Dark/js/plugins/flot/jquery.flot.orderBars.js"></script>
    <script type="text/javascript" src="/Liquid/Dark/js/plugins/flot/jquery.flot.pie.js"></script>
    <script type="text/javascript" src="/Liquid/Dark/js/plugins/flot/excanvas.min.js"></script>
    <script type="text/javascript" src="/Liquid/Dark/js/plugins/flot/jquery.flot.resize.js"></script>

    <script type="text/javascript" src="/Liquid/Dark/js/plugins/tables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/Liquid/Dark/js/plugins/tables/colResizable.min.js"></script>

    <script type="text/javascript" src="/Liquid/Dark/js/plugins/forms/forms.js"></script>
    <script type="text/javascript" src="/Liquid/Dark/js/plugins/forms/autogrowtextarea.js"></script>
    <script type="text/javascript" src="/Liquid/Dark/js/plugins/forms/autotab.js"></script>
    <script type="text/javascript" src="/Liquid/Dark/js/plugins/forms/jquery.validationEngine-en.js"></script>
    <script type="text/javascript" src="/Liquid/Dark/js/plugins/forms/jquery.validationEngine.js"></script>
    <script type="text/javascript" src="/Liquid/Dark/js/plugins/forms/jquery.dualListBox.js"></script>
    <script type="text/javascript" src="/Liquid/Dark/js/plugins/forms/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="/Liquid/Dark/js/plugins/forms/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" src="/Liquid/Dark/js/plugins/forms/jquery.inputlimiter.min.js"></script>
    <script type="text/javascript" src="/Liquid/Dark/js/plugins/forms/jquery.tagsinput.min.js"></script>

    <script type="text/javascript" src="/Liquid/Dark/js/plugins/other/calendar.min.js"></script>
    <script type="text/javascript" src="/Liquid/Dark/js/plugins/other/elfinder.min.js"></script>

    <script type="text/javascript" src="/Liquid/Dark/js/plugins/uploader/plupload.js"></script>
    <script type="text/javascript" src="/Liquid/Dark/js/plugins/uploader/plupload.html5.js"></script>
    <script type="text/javascript" src="/Liquid/Dark/js/plugins/uploader/plupload.html4.js"></script>
    <script type="text/javascript" src="/Liquid/Dark/js/plugins/uploader/jquery.plupload.queue.js"></script>

    <script type="text/javascript" src="/Liquid/Dark/js/plugins/ui/jquery.progress.js"></script>
    <script type="text/javascript" src="/Liquid/Dark/js/plugins/ui/jquery.jgrowl.js"></script>
    <script type="text/javascript" src="/Liquid/Dark/js/plugins/ui/jquery.tipsy.js"></script>
    <script type="text/javascript" src="/Liquid/Dark/js/plugins/ui/jquery.alerts.js"></script>
    <script type="text/javascript" src="/Liquid/Dark/js/plugins/ui/jquery.colorpicker.js"></script>

    <script type="text/javascript" src="/Liquid/Dark/js/plugins/wizards/jquery.form.wizard.js"></script>
    <script type="text/javascript" src="/Liquid/Dark/js/plugins/wizards/jquery.validate.js"></script>

    <script type="text/javascript" src="/Liquid/Dark/js/plugins/ui/jquery.breadcrumbs.js"></script>
    <script type="text/javascript" src="/Liquid/Dark/js/plugins/ui/jquery.collapsible.min.js"></script>
    <script type="text/javascript" src="/Liquid/Dark/js/plugins/ui/jquery.ToTop.js"></script>
    <script type="text/javascript" src="/Liquid/Dark/js/plugins/ui/jquery.listnav.js"></script>
    <script type="text/javascript" src="/Liquid/Dark/js/plugins/ui/jquery.sourcerer.js"></script>
    <script type="text/javascript" src="/Liquid/Dark/js/plugins/ui/jquery.timeentry.min.js"></script>
    <script type="text/javascript" src="/Liquid/Dark/js/plugins/ui/jquery.prettyPhoto.js"></script>

    <script type="text/javascript" src="/Liquid/Dark/js/custom.js"></script>
    <script src="~/Scripts/common.js"></script>
    <link href="/Liquid/Dark/css/main.css" rel="stylesheet" type="text/css" />
    <link href="~/Liquid/Dark/css/custom.css" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/ckfinder/ckfinder.js")"></script>
    <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/ckeditor/config.js"></script>

    @{
        var formName = ViewData.TemplateInfo.HtmlFieldPrefix;
        var config = ViewData["Config"] == null ? null : new HtmlString(", " + Json.Encode(ViewData["Config"]));
    }

    @if (Context.Items["CkeditorScriptRendered"] == null)
    {

        Context.Items["CkeditorScriptRendered"] = true;
    }

    <script type="text/javascript">
        CKEDITOR.replace("ckeditor" @config);
    </script>

    <script type="text/javascript" src="~/ckfinder/ckfinder.js"></script>
    <script type="text/javascript">

        $(function () {

            $('#tags_1').tagsInput({ width: 'auto' });
            $('#tags_2').tagsInput({ width: 'auto' });

        });

        function BrowseServerImage(name) {
            var finder = new CKFinder();
            finder.basePath = '~/ckfinder/';
            finder.selectActionFunction = function SetFileField(fileUrl) {
                document.getElementById(name).value = fileUrl;
            };
            finder.popup();
        }
        function SetFileField(fileUrl) {
            document.getElementById('ImagePath').value = fileUrl;
        }
        function BrowseServerFile() {
            var finder = new CKFinder();
            finder.basePath = '~/ckfinder/';
            finder.selectActionFunction = SetFileField2;
            finder.popup();
        }
        function SetFileField2(fileUrl) {
            document.getElementById('FilePath').value = fileUrl;
        }
        $('#tags').eq(0).tagsInput();
        $('#tags').eq(1).tagsInput();
    </script>

    <script>
        function DeleteData(Id) {
            if (confirm(Id + " numaralı veriyi silmek istediğinize emin misiniz?") == true) {
                window.location = "?action=delete&Id=" + Id;
            }
        }
    </script>
</head>

<body>
    @Html.Action("Header")
    <!-- Main wrapper -->
    <div class="wrapper">
        <!-- Left navigation -->
        @Html.Action("LeftMenu")
        <!-- Content -->
        <div class="content">
            @RenderBody()
        </div>
        <div class="fix"></div>
    </div>
    <!-- Footer -->
    <div id="footer">
        <div class="wrapper">
            <span>&copy; Copyright @DateTime.Now.Year by <a href="http://www.zoniletisim.com/" target="_blank" title="ZON İletişim">ZON</a></span>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    $(function () {
        $("#sortable").sortable();
        $("#sortable").disableSelection();

        $("#sortable2").sortable();
        $("#sortable2").disableSelection();
    });
</script>